/* Animation line bottom */
.line-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #7c01ff; /* Roxo */
    transition: width 0.4s ease, left 0.4s ease;
}
.line-bottom:hover::after {
    width: 100%;
    left: 0;
}
