@media screen and (max-width: 768px) {
    header {
        background-color: aliceblue;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    }
    header > h1 {
        font-weight: 500;
        font-size: 3em;
        margin-left: 20px;
    }
    header > h2 {
        margin-left: 40px;
        margin-bottom: 20px;
        font-weight: 100;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    }
    span::before {
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        font-weight: 100;
        content: "|";
        animation: animate infinite 1s;
        padding-left: 10px;
    }
    
    @keyframes animate {
        0% {
            content: "|";
        }
    
        50% {
            content: "";
        }
    
        75% {
            content: "|";
        }
    }
    .btn-navbar {
        float: right;
    }


    .links-navbar {
        width: 100vw;
    }
    .links a {
        text-decoration: none;
        font-size: 1.3rem;
        display: block;
        background-color: rgb(27, 27, 27);
        margin: 20px;
        text-align: center;
        color: white;
        padding: 0.7em;
        border-radius: 10px;
        transition: .1s;
        transition-timing-function: ease;
    }
    .links a:active {
        background-color: rgba(27, 27, 27, 0.800);
    }



    .tracking-in-contract-bck-top {
        -webkit-animation: tracking-in-contract-bck-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-contract-bck-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    @-webkit-keyframes tracking-in-contract-bck-top {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px) translateY(-300px);
                  transform: translateZ(400px) translateY(-300px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
          opacity: 1;
        }
      }
      @keyframes tracking-in-contract-bck-top {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px) translateY(-300px);
                  transform: translateZ(400px) translateY(-300px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
          opacity: 1;
        }
      }


}
