span#anim::before {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  font-weight: 100;
  content: "|";
  animation: animate infinite 1s;
  padding-left: 10px;
}

@keyframes animate {
  0% {
    content: "|";
  }

  50% {
    content: "";
  }

  75% {
    content: "|";
  }
}

.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 0.5s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 0.5s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}




@media screen and (max-width: 768px) {
  header {
    background-color: aliceblue;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
  }
  header > h1 {
    font-weight: 500;
    font-size: 3em;
    margin-left: 20px;
  }
  header > h2 {
    margin-left: 40px;
    margin-bottom: 20px;
    font-weight: 100;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  }
  

  .btn-navbar {
    display: flex;
    justify-content: space-between;
    float: right;
  }

  .links-navbar {
    width: 100vw;
  }
  .links a {
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    background-color: rgb(27, 27, 27);
    margin: 20px;
    text-align: center;
    color: white;
    padding: 0.7em;
    border-radius: 10px;
    transition: 0.1s;
    transition-timing-function: ease;
  }
  .links a:active {
    background-color: rgba(27, 27, 27, 0.8);
  }

  body {
    background-color: rgb(31, 31, 31);
  }
  main {
    color: rgb(233, 233, 233);
  }
  .links-contacts {
    color: rgb(233, 233, 233);
    transition: .2s;
    transition-timing-function: ease;
  }
  .links-contacts:active {
    color: rgb(210, 237, 255);
  }
  .tecnologias {
    width: 100px;
    height: 100px;
  }
}















@media screen and (min-width: 768px) {
  body {
    background-color: rgb(31,31,31);
    color: white;
  }
  header h1 {
    margin-left: 5vw;
  }
  #btn-navbarr {
    display: none;
  }
  .links-navbar {
    display: flex;
  }
  .links {
    margin: 0px 20px;
  }
  .links a {
    text-decoration: none;
    color: aliceblue;
    transition: .2s;
    transition-timing-function: ease;
  }
  .links a:hover {
    color: rgb(198, 234, 255);
  }
  .links a:active {
    color: rgb(255, 111, 67);
  }
  .desc-about {
    margin: 0 auto;
    width: 40vw;
  }
  .contacts {
    display: flex;
    justify-content: center;
  }
  .links-contacts {
    color: white;
    transition: .2s;
    transition-timing-function: ease;
  }
  .links-contacts:hover {
    color: rgb(255, 111, 67);
  }
  .links-contacts:active {
    color: rgb(127, 168, 255);
  }
  .tecnologias {
    width: 100px;
    height: 100px;
  }

  .shadow-drop-2-center:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(73, 98, 236, 0.541);
              box-shadow: 0 0 20px 0px rgba(73, 98, 236, 0.541);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(73, 98, 236, 0.541);
              box-shadow: 0 0 20px 0px rgba(73, 98, 236, 0.541);
    }
  }




 
}